*
{
    box-sizing: border-box;
}
body
{
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f7fa;
    color: #222;
}
header
{
    text-align: center;
    padding: 40px 20px 25px;
}
header h1
{
    margin: 0px;
}
header p
{
    margin-top: 10px;
    color: #666;
}
main
{
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}
#search-container
{
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}
#username
{
    flex: 1;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
}
#analyze-button
{
    padding: 12px 20px;
     font-size: 16px;
     border: none;
     border-radius: 6px;
     background-color: #24292f;
     color:white;
     cursor: pointer;
}
#analyze-button:hover
{
    background-color: #444;
}
#result
{
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 25px;
}
#profile
{
    margin-bottom: 20px;
}
#profile h2
{
    margin: 0;
}
#profile p
{
    margin-top: 5px;
    color: #666;
}


